//==
.font16{
  font-size: $font-size-base*1.1428571429;
}
.font12{
  font-size: $font-size-base*0.85714286;
}
.semibold{
  font-weight: 600;
}
.gray-darker{
  color:$gray-darker;
}
.background-gray-darker{
  background:$gray-darker;
}
.gray-dark{
  color:$gray-darker;
}
.background-gray-dark{
  background:$gray-dark;
}
.gray{
  color:$gray;
}
.background-gray{
  background:$gray;
}
.gray-light{
  color:$gray-light;
}
.background-gray-light{
  background:$gray-light;
}
.gray-semi-ligther{
  color:$gray-semi-lighter;
}
.background-gray-semi-ligther{
  background:$gray-semi-lighter;
}
.gray-lighter{
  color:$gray-lighter;
}
.background-gray-lighter{
  background:$gray-lighter;
}
.brand-primary{
  color:$brand-primary;
}
.background-brand-primary{
  background:$brand-primary;
}
.brand-success{
  color:$brand-success;
}
.background-brand-success{
  background:$brand-success;
}
.brand-info{
  color:$brand-info;
}
.background-brand-info{
  background:$brand-info;
}
.brand-warning{
  color:$brand-warning;
}
.background-brand-warning{
  background:$brand-warning;
}
.brand-danger{
  color:$brand-danger;
}
.background-brand-danger{
  background:$brand-danger;
}
