.gray-darker{
  color:$gray-darker;
}
.background-gray-darker{
  background-color:$gray-darker;
}
.gray-dark{
  color:$gray-darker;
}
.background-gray-dark{
  background-color:$gray-dark;
}
.gray{
  color:$gray;
}
.background-gray{
  background-color:$gray;
}
.gray-light{
  color:$gray-light;
}
.background-gray-light{
  background-color:$gray-light;
}
.gray-semi-ligther{
  color:$gray-semi-lighter;
}
.background-gray-semi-ligther{
  background-color:$gray-semi-lighter;
}
.gray-lighter{
  color:$gray-lighter;
}
.background-gray-lighter{
  background-color:$gray-lighter;
}
.brand-primary{
  color:$brand-primary;
}
.background-brand-primary{
  background-color:$brand-primary;
}
.brand-success{
  color:$brand-success;
}
.background-brand-success{
  background-color:$brand-success;
}
.brand-info{
  color:$brand-info;
}
.background-brand-info{
  background-color:$brand-info;
}
.brand-warning{
  color:$brand-warning;
}
.background-brand-warning{
  background-color:$brand-warning;
}
.brand-danger{
  color:$brand-danger;
}
.background-brand-danger{
  background-color:$brand-danger;
}
